*/*/mjkey.txt
**/.DS_STORE
**/*.pyc
**/*.swp
rlkit/launchers/config.py
rlkit/launchers/conf_private.py
MANIFEST
*.egg-info
\.idea/
.ipynb_checkpoints/visualize-checkpoint.ipynb
data
.vscode
runs
examples/her/.ipynb_checkpoints
examples/her/images
examples/her/logs
examples/her/tblogs
/examples/her/1tesmodel.mdl
/examples/her/2tesmodel.mdl
/examples/her/3tesmodel.mdl
/examples/her/5tesmodel.mdl
/examples/her/6tesmodel.mdl
/examples/her/8tesmodel.mdl
/examples/her/9tesmodel.mdl
/examples/her/diag1/events.out.tfevents.1597846060.clothmanip-ROG-Strix-G531GT-G531GT.8122.0
/examples/her/diag1.csv
/examples/her/diag2/events.out.tfevents.1597921318.clothmanip-ROG-Strix-G531GT-G531GT.14715.0
/examples/her/diag2.csv
/examples/her/diag3/events.out.tfevents.1597883656.clothmanip-ROG-Strix-G531GT-G531GT.29242.0
/examples/her/diag3.csv
/examples/her/models/1ClothSidewaysStrictPixels-v1_model.mdl
/examples/her/models/2ClothSidewaysStrictPixels-v1_model.mdl
/examples/her/models/3ClothSidewaysStrictPixels-v1_model.mdl
/examples/her/side1/events.out.tfevents.1598263989.clothmanip-ROG-Strix-G531GT-G531GT.22915.0
/examples/her/side2/events.out.tfevents.1598289675.clothmanip-ROG-Strix-G531GT-G531GT.8622.0
/examples/her/side3/events.out.tfevents.1598315193.clothmanip-ROG-Strix-G531GT-G531GT.28643.0
/experiments/tblogs/\[her-sac-cloth-sideways-pixels_2020_09_14_12_52_30_0000--s-0\] /events.out.tfevents.1600077155.clothmanip-ROG-Strix-G531GT-G531GT.10183.0
/generate/data_cloth_diagonal_rlkit_100.npz
/generate/data_cloth_diagonal_rlkit_100_mac.npz
/generate/env_screenshot_23.08.2020.png
/examples/her/MUJOCO_LOG.TXT
/examples/her/Nonetesmodel.mdl
/examples/her/final-diagonal-final-11.mdl
/examples/her/final-diagonal-final-12.mdl
/examples/her/final-diagonal-final-14.mdl
/examples/her/final-sideways-final-11.mdl
/examples/her/final-sideways-final-12.mdl
/examples/her/final-sideways-final-13.mdl
/examples/her/final-sideways-pixels-final-31.mdl
/examples/her/side1.csv
/examples/her/side2.csv
/examples/her/side3.csv
/examples/her/tesmodel.mdl
